export(bayes)
export(flashBayesClass)
export(flashData)
export(flashLabels)
export(flashPosterior)
export(hvBayesClass)
export(hvData)
export(hvLabels)
export(hvPosterior)
export(hvQuadraticBayesClass)
export(hvQuadraticData)
export(hvQuadraticLabels)
export(hvQuadraticPosterior)
export(mixtureBayesClass)
export(mixtureData)
export(mixtureLabels)
export(mixturePosterior)
export(outlierCorrectBayesClass)
export(outlierCorrectData)
export(outlierCorrectLabels)
export(outlierCorrectPosterior)
export(outlierWrongBayesClass)
export(outlierWrongData)
export(outlierWrongLabels)
export(outlierWrongPosterior)
export(ringBayesClass)
export(ringData)
export(ringLabels)
export(ringPosterior)
export(twonormLinearBayesClass)
export(twonormLinearData)
export(twonormLinearLabels)
export(twonormLinearPosterior)
export(twonormQuadraticBayesClass)
export(twonormQuadraticData)
export(twonormQuadraticLabels)
export(twonormQuadraticPosterior)
export(vBayesClass)
export(vData)
export(vLabels)
export(vNormalBayesClass)
export(vNormalData)
export(vNormalLabels)
export(vNormalPosterior)
export(vNormalQuadraticBayesClass)
export(vNormalQuadraticData)
export(vNormalQuadraticLabels)
export(vNormalQuadraticPosterior)
export(vPosterior)
export(xorBayesClass)
export(xorData)
export(xorLabels)
export(xorPosterior)
import(mvtnorm)
S3method(as.data.frame,locClass)
S3method(bayes,locClass.hvData)
S3method(bayes,locClass.mixtureData)
S3method(bayes,locClass.outlierCorrectData)
S3method(bayes,locClass.outlierWrongData)
S3method(bayes,locClass.ringData)
S3method(bayes,locClass.twonormLinearData)
S3method(bayes,locClass.twonormQuadraticData)
S3method(bayes,locClass.vData)
S3method(bayes,locClass.vNormalData)
S3method(bayes,locClass.xorData)
