export(bayes)
export(flashBayesClass)
export(flashData)
export(flashLabels)
export(flashPosterior)
export(hvBayesClass)
export(hvData)
export(hvLabels)
export(hvPosterior)
export(hvQuadraticBayesClass)
export(hvQuadraticData)
export(hvQuadraticLabels)
export(hvQuadraticPosterior)
export(mixtureBayesClass)
export(mixtureData)
export(mixtureLabels)
export(mixturePosterior)
export(outlierCorrectBayesClass)
export(outlierCorrectData)
export(outlierCorrectLabels)
export(outlierCorrectPosterior)
export(outlierWrongBayesClass)
export(outlierWrongData)
export(outlierWrongLabels)
export(outlierWrongPosterior)
export(ringBayesClass)
export(ringData)
export(ringLabels)
export(ringPosterior)
export(spiralBayesClass)
export(spiralData)
export(spiralLabels)
export(spiralPosterior)
export(twonormLinearBayesClass)
export(twonormLinearData)
export(twonormLinearLabels)
export(twonormLinearPosterior)
export(twonormQuadraticBayesClass)
export(twonormQuadraticData)
export(twonormQuadraticLabels)
export(twonormQuadraticPosterior)
export(vBayesClass)
export(vData)
export(vLabels)
export(vNormalLinearBayesClass)
export(vNormalLinearData)
export(vNormalLinearLabels)
export(vNormalLinearPosterior)
export(vNormalQuadraticBayesClass)
export(vNormalQuadraticData)
export(vNormalQuadraticLabels)
export(vNormalQuadraticPosterior)
export(vPosterior)
export(wBayesClass)
export(wData)
export(wLabels)
export(wPosterior)
export(xor3BayesClass)
export(xor3Data)
export(xor3Labels)
export(xor3Posterior)
export(xorBayesClass)
export(xorData)
export(xorLabels)
export(xorPosterior)
import(mlbench)
import(mvtnorm)
S3method(as.data.frame,locClass)
S3method(bayes,locClass.flashData)
S3method(bayes,locClass.hvData)
S3method(bayes,locClass.hvQuadraticData)
S3method(bayes,locClass.mixtureData)
S3method(bayes,locClass.outlierCorrectData)
S3method(bayes,locClass.outlierWrongData)
S3method(bayes,locClass.ringData)
S3method(bayes,locClass.spiralData)
S3method(bayes,locClass.twonormLinearData)
S3method(bayes,locClass.twonormQuadraticData)
S3method(bayes,locClass.vData)
S3method(bayes,locClass.vNormalLinearData)
S3method(bayes,locClass.vNormalQuadraticData)
S3method(bayes,locClass.wData)
S3method(bayes,locClass.xor3Data)
S3method(bayes,locClass.xorData)
