export(predictNode)
importFrom(mlr,makeRLearner)
importFrom(mlr,predictLearner)
importFrom(mlr,trainLearner)
S3method(makeRLearner,classif.constant)
S3method(makeRLearner,classif.dalda)
S3method(makeRLearner,classif.dalr)
S3method(makeRLearner,classif.damultinom)
S3method(makeRLearner,classif.dannet)
S3method(makeRLearner,classif.daqda)
S3method(makeRLearner,classif.dasvm)
S3method(makeRLearner,classif.FLXMCLconstant)
S3method(makeRLearner,classif.FLXMCLlda)
S3method(makeRLearner,classif.FLXMCLmultinom)
S3method(makeRLearner,classif.FLXMCLnnet)
S3method(makeRLearner,classif.FLXMCLqda)
S3method(makeRLearner,classif.FLXMCLsvm)
S3method(makeRLearner,classif.kda)
S3method(makeRLearner,classif.kmc)
S3method(makeRLearner,classif.mobConstantModel)
S3method(makeRLearner,classif.mobLdaModel)
S3method(makeRLearner,classif.mobMultinomModel)
S3method(makeRLearner,classif.mobNnetModel)
S3method(makeRLearner,classif.mobQdaModel)
S3method(makeRLearner,classif.mobSvmModel)
S3method(makeRLearner,classif.oslda)
S3method(makeRLearner,classif.osmultinom)
S3method(makeRLearner,classif.osnnet)
S3method(makeRLearner,classif.osqda)
S3method(makeRLearner,classif.ossvm)
S3method(makeRLearner,classif.wlda)
S3method(makeRLearner,classif.wqda)
S3method(makeRLearner,classif.wsvm)
S3method(predictLearner,classif.constant)
S3method(predictLearner,classif.dalda)
S3method(predictLearner,classif.dalr)
S3method(predictLearner,classif.damultinom)
S3method(predictLearner,classif.dannet)
S3method(predictLearner,classif.daqda)
S3method(predictLearner,classif.dasvm)
S3method(predictLearner,classif.FLXMCLconstant)
S3method(predictLearner,classif.FLXMCLlda)
S3method(predictLearner,classif.FLXMCLmultinom)
S3method(predictLearner,classif.FLXMCLnnet)
S3method(predictLearner,classif.FLXMCLqda)
S3method(predictLearner,classif.FLXMCLsvm)
S3method(predictLearner,classif.kda)
S3method(predictLearner,classif.kmc)
S3method(predictLearner,classif.mobConstantModel)
S3method(predictLearner,classif.mobLdaModel)
S3method(predictLearner,classif.mobMultinomModel)
S3method(predictLearner,classif.mobNnetModel)
S3method(predictLearner,classif.mobQdaModel)
S3method(predictLearner,classif.mobSvmModel)
S3method(predictLearner,classif.oslda)
S3method(predictLearner,classif.osmultinom)
S3method(predictLearner,classif.osnnet)
S3method(predictLearner,classif.osqda)
S3method(predictLearner,classif.ossvm)
S3method(predictLearner,classif.wlda)
S3method(predictLearner,classif.wqda)
S3method(predictLearner,classif.wsvm)
S3method(trainLearner,classif.constant)
S3method(trainLearner,classif.dalda)
S3method(trainLearner,classif.dalr)
S3method(trainLearner,classif.damultinom)
S3method(trainLearner,classif.dannet)
S3method(trainLearner,classif.daqda)
S3method(trainLearner,classif.dasvm)
S3method(trainLearner,classif.FLXMCLconstant)
S3method(trainLearner,classif.FLXMCLlda)
S3method(trainLearner,classif.FLXMCLmultinom)
S3method(trainLearner,classif.FLXMCLnnet)
S3method(trainLearner,classif.FLXMCLqda)
S3method(trainLearner,classif.FLXMCLsvm)
S3method(trainLearner,classif.kda)
S3method(trainLearner,classif.kmc)
S3method(trainLearner,classif.mobConstantModel)
S3method(trainLearner,classif.mobLdaModel)
S3method(trainLearner,classif.mobMultinomModel)
S3method(trainLearner,classif.mobNnetModel)
S3method(trainLearner,classif.mobQdaModel)
S3method(trainLearner,classif.mobSvmModel)
S3method(trainLearner,classif.oslda)
S3method(trainLearner,classif.osmultinom)
S3method(trainLearner,classif.osnnet)
S3method(trainLearner,classif.osqda)
S3method(trainLearner,classif.ossvm)
S3method(trainLearner,classif.wlda)
S3method(trainLearner,classif.wqda)
S3method(trainLearner,classif.wsvm)
