export(dalda)
S3method(dalda, formula)
S3method(dalda, data.frame)
S3method(dalda, matrix)
S3method(dalda, default)
S3method(print, dalda)
S3method(predict, dalda)
S3method(weights, dalda)
export(dalr)
S3method(dalr, formula)
S3method(dalr, data.frame)
S3method(dalr, matrix)
S3method(dalr, default)
S3method(print, dalr)
S3method(predict, dalr)
S3method(weights, dalr)
export(damultinom)
import(nnet)
S3method(print, damultinom)
S3method(predict, damultinom)
S3method(weights, damultinom)
export(dannet)
S3method(dannet, formula)
S3method(dannet, default)
S3method(print, dannet)
S3method(predict, dannet)
S3method(weights, dannet)
export(nnetGradient)
export(daqda)
S3method(daqda, formula)
S3method(daqda, data.frame)
S3method(daqda, matrix)
S3method(daqda, default)
S3method(print, daqda)
S3method(predict, daqda)
S3method(weights, daqda)
export(dasvm)
import(e1071)
S3method(dasvm, formula)
S3method(dasvm, default)
S3method(print, dasvm)
S3method(predict, dasvm)
S3method(weights, dasvm)
export(biweight, cauchy, cosine, epanechnikov, exponential, gaussian, optcosine, rectangular, triangular)
export(hmcc)
S3method(hmcc, formula)
S3method(hmcc, data.frame)
S3method(hmcc, matrix)
S3method(hmcc, default)
import(mvtnorm)
export(hmccStart)
S3method(print, hmcc)
S3method(predict, hmcc)
export(kda)
S3method(kda, formula)
S3method(kda, data.frame)
S3method(kda, matrix)
S3method(kda, default)
S3method(print, kda)
S3method(predict, kda)
useDynLib(locClass)
export(kmc)
S3method(kmc, formula)
S3method(kmc, data.frame)
S3method(kmc, matrix)
S3method(kmc, default)
S3method(print, kmc)
S3method(update, kmc)
S3method(predict, kmc)
S3method(model.frame, kmc)
export(oslda)
S3method(oslda, formula)
S3method(oslda, data.frame)
S3method(oslda, matrix)
S3method(oslda, default)
S3method(print, oslda)
S3method(predict, oslda)
export(osmultinom)
S3method(print, osmultinom)
S3method(predict, osmultinom)
export(osnnet)
S3method(osnnet, formula)
S3method(osnnet, default)
S3method(print, osnnet)
S3method(predict, osnnet)
export(osqda)
S3method(osqda, formula)
S3method(osqda, data.frame)
S3method(osqda, matrix)
S3method(osqda, default)
S3method(print, osqda)
S3method(predict, osqda)
export(ossvm)
S3method(ossvm, formula)
S3method(ossvm, default)
S3method(predict, ossvm)
S3method(print, ossvm)
export(wlda)
S3method(wlda, formula)
S3method(wlda, data.frame)
S3method(wlda, matrix)
S3method(wlda, default)
S3method(print, wlda)
S3method(predict, wlda)
S3method(weights, wlda)
S3method(model.frame, wlda)
export(wqda)
S3method(wqda, formula)
S3method(wqda, data.frame)
S3method(wqda, matrix)
S3method(wqda, default)
S3method(print, wqda)
S3method(predict, wqda)
S3method(weights, wqda)
S3method(model.frame, wqda)
export(wsvm)
S3method(wsvm, formula)
S3method(wsvm, default)
S3method(predict, wsvm)
S3method(weights, wsvm)
