export(biweight)
export(cauchy)
export(constant)
export(constantModel)
export(cosine)
export(dalda)
export(dalr)
export(damultinom)
export(dannet)
export(daqda)
export(dasvm)
export(epanechnikov)
export(exponential)
export(FLXMCLconstant)
export(FLXMCLlda)
export(FLXMCLmultinom)
export(FLXMCLnnet)
export(FLXMCLqda)
export(FLXMCLsvm)
export(FLXPwlda)
export(gaussian)
export(kda)
export(kmc)
export(ldaModel)
export(multinomModel)
export(nnetGradient)
export(nnetModel)
export(optcosine)
export(oslda)
export(osmultinom)
export(osnnet)
export(osqda)
export(ossvm)
export(qdaModel)
export(rectangular)
export(svmModel)
export(triangular)
export(wlda)
export(wqda)
export(wsvm)
exportClasses(FLXMCL)
exportClasses(FLXMCLconstant)
exportClasses(FLXMCLlda)
exportClasses(FLXMCLmultinom)
exportClasses(FLXMCLnnet)
exportClasses(FLXMCLqda)
exportClasses(FLXMCLsvm)
exportClasses(FLXPwlda)
exportMethods(FLXgetModelmatrix)
exportMethods(myfitted)
exportMethods(mypredict)
import(e1071)
import(flexmix)
import(nnet)
import(party)
importFrom(sandwich,estfun)
S3method(constant,data.frame)
S3method(constant,default)
S3method(constant,formula)
S3method(constant,matrix)
S3method(dalda,data.frame)
S3method(dalda,default)
S3method(dalda,formula)
S3method(dalda,matrix)
S3method(dalr,data.frame)
S3method(dalr,default)
S3method(dalr,formula)
S3method(dalr,matrix)
S3method(dannet,data.frame)
S3method(dannet,default)
S3method(dannet,formula)
S3method(dannet,matrix)
S3method(daqda,data.frame)
S3method(daqda,default)
S3method(daqda,formula)
S3method(daqda,matrix)
S3method(dasvm,default)
S3method(dasvm,formula)
S3method(deviance,constant)
S3method(deviance,multinom)
S3method(deviance,nnet)
S3method(deviance,wlda)
S3method(deviance,wqda)
S3method(deviance,wsvm)
S3method(estfun,constant)
S3method(estfun,multinom)
S3method(estfun,nnet)
S3method(estfun,wlda)
S3method(estfun,wqda)
S3method(estfun,wsvm)
S3method(kda,data.frame)
S3method(kda,default)
S3method(kda,formula)
S3method(kda,matrix)
S3method(kmc,data.frame)
S3method(kmc,default)
S3method(kmc,formula)
S3method(kmc,matrix)
S3method(model.frame,constant)
S3method(model.frame,kmc)
S3method(model.frame,wlda)
S3method(model.frame,wqda)
S3method(model.matrix,constantModel)
S3method(model.matrix,ldaModel)
S3method(model.matrix,multinomModel)
S3method(model.matrix,qdaModel)
S3method(model.matrix,svmModel)
S3method(oslda,data.frame)
S3method(oslda,default)
S3method(oslda,formula)
S3method(oslda,matrix)
S3method(osnnet,default)
S3method(osnnet,formula)
S3method(osqda,data.frame)
S3method(osqda,default)
S3method(osqda,formula)
S3method(osqda,matrix)
S3method(ossvm,default)
S3method(ossvm,formula)
S3method(predict,constant)
S3method(predict,constantModel)
S3method(predict,dalda)
S3method(predict,dalr)
S3method(predict,damultinom)
S3method(predict,dannet)
S3method(predict,daqda)
S3method(predict,dasvm)
S3method(predict,kda)
S3method(predict,kmc)
S3method(predict,ldaModel)
S3method(predict,multinomModel)
S3method(predict,nnetModel)
S3method(predict,oslda)
S3method(predict,osmultinom)
S3method(predict,osnnet)
S3method(predict,osqda)
S3method(predict,ossvm)
S3method(predict,qdaModel)
S3method(predict,svmModel)
S3method(predict,wlda)
S3method(predict,wqda)
S3method(predict,wsvm)
S3method(print,constant)
S3method(print,dalda)
S3method(print,dalr)
S3method(print,damultinom)
S3method(print,dannet)
S3method(print,daqda)
S3method(print,dasvm)
S3method(print,kda)
S3method(print,kmc)
S3method(print,oslda)
S3method(print,osmultinom)
S3method(print,osnnet)
S3method(print,osqda)
S3method(print,ossvm)
S3method(print,wlda)
S3method(print,wqda)
S3method(reweight,constantModel)
S3method(reweight,ldaModel)
S3method(reweight,multinomModel)
S3method(reweight,nnetModel)
S3method(reweight,qdaModel)
S3method(reweight,svmModel)
S3method(update,kmc)
S3method(weights,constant)
S3method(weights,dalda)
S3method(weights,dalr)
S3method(weights,damultinom)
S3method(weights,dannet)
S3method(weights,daqda)
S3method(weights,dasvm)
S3method(weights,wlda)
S3method(weights,wqda)
S3method(weights,wsvm)
S3method(wlda,data.frame)
S3method(wlda,default)
S3method(wlda,formula)
S3method(wlda,matrix)
S3method(wqda,data.frame)
S3method(wqda,default)
S3method(wqda,formula)
S3method(wqda,matrix)
S3method(wsvm,default)
S3method(wsvm,formula)
useDynLib(locClass)
